/* Website Fonts */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

/* Gradient Background */
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: page-background 15s ease infinite;
  overflow-x: hidden;
}

@keyframes page-background {
  /* renamed to page-background to be more specific */
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Homepage Styles */
img.portrait {
  /* changed .mason to .portrait to avoid conflict with #mason in about page
	(only applies to image with an id of mason) */
  height: 500px;
  border-radius: 500px;
  /* removed padding */
}

/* begone is div.spacer, better practice is to use margin and padding */

.col-xs-4 {
  font-family: "Fredoka One", cursive;
  color: white;
  text-align: center;
}
h2 {
  font-family: "Fredoka One", cursive;
  color: white;
  text-align: center;
  font-size: 20px;
}
p,
ul,
ol {
  color: white;
  font-family: "Lexend", sans-serif;
  font-size: 15px;
}
/* Combined multiple rulesets into one
	(you can use commas to define rulesets for multiple elements at once) */
.easteregg {
  display: fixed;
  bottom: 10px;
  font-size: 3px;
  text-align: center;
}

/* removed .buttons (wasnt being used, you can use .btn from Bs tho if needed) */

/* Changed btn-hover to btn-primary (better w Bs) */
.btn-primary {
  /* Changed from a fixed size to a relative size, 
  will be as wide as the text inside is so it will always fit */
  width: fit-content;
  height: fit-content;
  /* Same as width but for the height */
  /* Removed margin */
  padding: 1.5rem 2.5rem;
  /* Added padding, used rem so it adjusts based on font size */
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 50px;

  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-primary:hover {
  background-position: 100% 0;

  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-primary:focus {
  outline: none;
}

/* chagned .color to .btn-gradient to be more specific/less ambiguous */
.btn-primary.btn-gradient {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  color: #fff !important;
  /* Added !important to stop bootstrap from changing color on hover */
}

/* Scroll Bar Style */
::-webkit-scrollbar {
  display: none;
  /* display none ususally works better cross-platform, idk why but it has for me */
}
#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}
#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;

  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}
#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

/* Contact Page Styles */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0.5rem;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 80px;
  color: white;
  background-color: #51b6ba;
  border: 4px solid #85e0d5;
  border-radius: 500px;
}
.title h1 {
  width: fit-content;
  margin: 0;
  padding: 0;
}

/* Naviagtion bar styles */
/* .navigation {
  float: right;
  text-align: right;
  font-family: "Fredoka One", cursive;
  color: white;
} */
/* commented out becaue it isnt used */
#navbar div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* makes all wapper divs in the navbar have centered images and text,
  and is easier than writing out the classes for each div */
}

/* Originally #icon - changed to match HTML */
.icon:hover {
  transform: scale(1.1);
}
.icon {
  transition: all 0.2s ease-in-out;
  height: 100px;
}

/* Styles for Contact Page */
.column {
  flex: 30%;
  padding: 5px;
}

.contactnavigation {
  font-family: "Fredoka One", cursive;
  color: white;
  text-align: center;
  display: flex;
}

/* Styles for Bobby the Lamp Page */

.bobbysite {
  height: 1200px;
  width: 500px;
  border-radius: 15px;
  border-color: #85e0d5;
  border-style: solid;
  border-width: 4px;
}
.video {
  border-radius: 15px;
  border-color: #85e0d5;
  border-style: solid;
  border-width: 4px;
}

/* Styles for Contact Page */
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}

table td,
table th {
  padding-left: 8px;
}

table thead tr {
  height: 60px;
  background: #51b6ba;
  font-size: 16px;
}

table tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
}

table tbody tr:last-child {
  border: 0;
}

table td,
table th {
  text-align: left;
}

table td.l,
table th.l {
  text-align: right;
}

table td.c,
table th.c {
  text-align: center;
}

table td.r,
table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "COURSE NAME";
  }
  table tbody tr td:nth-child(2):before {
    content: "COURSE DESCRIPTION";
  }
  table tbody tr td:nth-child(3):before {
    content: "COURSE TYPE";
  }
  table tbody tr td:nth-child(4):before {
    content: "GRADE EARNED";
  }
}

blockquote {
  color: white;
  text-align: center;
}

#tableheader {
  color: white;
}

/* Styles for Contact Page */

#projects:hover {
  transform: scale(1.1);
}

#projects {
  transition: all 0.2s ease-in-out;
  height: 200px;
  border-radius: 15px;
}

h1 {
  font-family: "Fredoka One", cursive;
  color: white;
  text-align: center;
  font-size: 40px;
}

/* Styles for About Page */

.fampic {
  height: 150px;
  margin: 1rem;
  /* margin so the portraits dont touch each other */
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.fampic:hover {
  transform: scale(1.1);
}
/* Declare modular rulesets (like :hover) after the initial ruleset, makes it easier to read.
	also this should be a class as it is used multiple times on the same page */

#headshot {
  border-radius: 15px;
  height: 275px;
}
#family {
  border-radius: 15px;
  height: 190px;
}

#familyportraits div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* makes all wapper divs in the portrait row have centered images and text,
	and is easier than writing out the classes for each div */
}
